.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.header {
  text-align: center;
  font-size: 64px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: #1e11d4;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 1;
  border-radius: 5px;
}

.myText {
  text-align: center;
  color: #1e11d4;
  margin-top: 16px;
}

.invisibleText {
  text-align: center;
  color: white;
}

.textBox {

}
